<h2>{{ title_page }}</h2>

<table>
    <thead>
        <tr>
            {% for key in fields %}
                <th>{{ key }}</th>
            {% endfor %}
            {% if options != None %}
                <th>Opções</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows.values %}
            <tr>
                {% for key, value in row.iteritems %}
                    {% if key in fields %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
                {% if options != None %}
                    {% for key, value in options.iteritems %}
                        <td>{{ value }}</td>
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
